body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #333232;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid #F4E87C;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #F4E87C;
  border-radius: 0;
  border-bottom: 10px solid #F4E87C;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #FFFFFF;
}

.hour {
  background-color: #F4E87C;
  color: #333232;
  font-style: oblique;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #676565;
  color: #FFFFFF;
}

.present {
  background-color: #4F359B;
  color: #FFFFFF;
}

.future {
  background-color: #0CC0D4;
  color: #FFFFFF;
}

.saveBtn {
  border-left: 1px solid #F4E87C;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #F679DB;
  color: #FFFFFF;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}
